@font-face {
    font-family: 'Igiari';
    src: url('https://github.com/MattKYT/MattFonts/blob/9e40f92f9d840f46ee6bfad0cedfdaf8ab6e680a/fonts/Igiari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
